
.robot * {
            border: 1px solid #1e90ff;
            padding: 1rem;
            margin: .25rem;
            box-sizing: border-box;
            border-width: 100px;
            border-color: tomato;
            border-style: dashed;
padding: 2remx;
border-left-color: violet;
border-right-color: turquoise;
border-bottom-color: transparent;
height: 100px;
border-radius: 50px;
}
.robot .body {
    border: 20px; color: yellowgreen;
    width: 50px;


}
    
    
   
body {
    background-image: url(https://www.sciencemag.org/sites/default/files/styles/inline__450w__no_aspect/public/dogs_1280p_0.jpg?itok=h6VBayx-);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

        }