
/* Nav Bar*/

/* All */
* {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    margin: 0px;
}

nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    background-color: #252525;
    box-shadow: 0em 0.1em 10px 0 #252525;
}

    nav ul {
        margin: 0px auto;
        height: 50px;
        width: 800px;
        padding: 0px;
        display: flex;
    }

    nav li {
        padding: 0px;
        width: 100%;
        display: inline;
        text-align: center;
    }

    nav a {
        width: auto;
        box-sizing: border-box;
        max-height: 50px;
        padding-top: 10px;
        padding-bottom: 20px;
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(243, 248, 255);
        border-left: 1px rgba(255, 255, 255, 0.00) solid;
        transition: border-left 0.3s ease-out, background-color 0.3s ease-out;
    }

        nav a:hover {
            border-left: 14px rgb(243, 248, 255) solid;
            color: rgb(243, 248, 255) !important;
            background-color: rgb(14, 14, 14) !important;
        }


        nav a:link {
        }

        nav a:visited {
        }

        nav a:active {
            background-color: rgb(243, 248, 255) !important;
        }


#dropNavWeek {
    display: none;
}

#dropNavDay {
    display: none;
}

