/* ALLGEMEIN   */

  @font-face {
      font-family: Skyline;
      src: url(../img/NewParisEDUSkyline-Regular.otf);
    }

    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }
    h1{
        font-family: "Skyline";
        font-size: 80px;
        text-align: end;
        padding: 2rem;
        margin: 0;
        color: var(--colorContent);
    } 
    


    main{
      position: absolute;
      height: 97vh;
      width: 90vw;
      right: 0.7vw;
     

      background-color:rgb(190, 171, 255);
    }

     a{
        text-decoration: none;
        color:var(--colorContent);
    }
    a:hover{
        color: white;
    }


/* ----------------------- CURSOR -----------------------> */
        #cursor{
            position: absolute;
            width: 50px;
            height: 50px;
            /* background-color: rgb(255, 255, 255); */
            border: 1px solid white;
            box-sizing: border-box;
            transition: 0.2s;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            pointer-events: none;
            cursor: none;
            z-index: 3;

            mix-blend-mode: difference;  
        }

        #outerCursor{
           position: absolute;
            width: 30px;
            height: 30px;
            /* border: 1px solid white; */
            background-color: white;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            pointer-events: none;
            cursor: none;
            z-index: 3;

            mix-blend-mode: difference;  
        }

        .element.style{
            opacity: 0;
            transform: matrix(0, 0, 0, 0, 1062, 896);
        }

        
        #cursor-follower{
            position: fixed;
            width: 60px;
            height: 60px;
            pointer-events: none;

        }

        #cursor-follower{
            mix-blend-mode: difference;
        }
/* <----------------------- CURSOR ----------------------- */


/* ---------------- THE OVERLAY - MENU ---------------->  */
        .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0); /* Black fallback color */
        background-color: rgb(0, 0, 0); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
        }

        /* Position the content inside the overlay */
        .overlay-content {
        background-color: black;
        position: relative;
        /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: start; /* Centered text/links */
        margin-top: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
        padding: 0px;
        text-decoration: none;
        font-size: 36px;
        color: #000000;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
        display: flex;
        align-items: center;
        padding-left: 1rem;
        }

        /* When you mouse over the navigation links, change their color */
        .overlay .menu:hover, .overlay .menu:focus {
        background-color: black;
        color: white;
        background-image: url(https://i.pinimg.com/originals/d3/20/ab/d320ab3633f51832a7f168780a36bf1e.gif);
            /* background-image: url(https://i.pinimg.com/originals/c5/a6/4f/c5a64fe6c50f40cba2fd9c3db6533aab.gif); */
            /* background-image: url(https://i.pinimg.com/originals/13/7b/26/137b2650381f68239e643ed58dfc8777.gif); */
            background-size: 100%;
        }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
        position: absolute;
        right: 0.5rem;  top: 0.5rem;
        font-size: 50px;
        color: rgb(255, 255, 255); 
        }

        .closebtn:hover{
           transform: rotate(180deg);
           transition: ease-in-out 0.25s;
           transform-origin: center; right: -0.5rem; 
        }

        .openbutton{
        color: rgb(0, 0, 0);
        position: absolute;
        font-size: 50px;
        transform: rotate(-45deg);
        transform-origin: center;
        }
       
         .openbutton, .closebtn{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
        .openbutton:hover {
            transform: rotate(135deg);
           transition: ease-in-out 0.25s;
           transform-origin: center;
           left: 0.8rem;
           top: 0.8rem;
        }

    /* OVERLAY TEXT */
        .menu{
            width: 38.5vw;
            height: 20vh;
            padding-left: 3rem;
            border: black solid 6px;
            border-left: none;
            margin: 0;
            text-decoration: none;
            color: black;   
            font-family: 'Skyline';
            font-size: 500px;
            background-color: white;
            
        }
        .home1{
            border-bottom: none;
        }
        .song1{
            border-bottom: none;
        }
        .robot1{
            border-bottom: none;
        }
/* <----------------THE OVERLAY - MENU----------------*/

    
/* ----------------PROCESS ----------------> */

        :root{
            --colorContent: rgb(0, 0, 0);
        }
    .process{
        /* background-color: blanchedalmond; */
        border-bottom: 2px solid var(--colorContent);
        border-top: 2px solid var(--colorContent);
        height: 10rem;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 5rem;
        padding: 0;
        margin-top: 5rem;
    }

    .process2{
        height: 8rem;
        width: 6rem;
      

    }
    .process2:hover{
        transition: ease-in-out 0.25s;
        transform-origin: top;
        height: 10rem;
        background-color: var(--colorContent);
        letter-spacing: 3px;
        margin-bottom: 1.8rem;
        color: black;
    }

  

    li {
        padding-top: 2rem;
        text-decoration: none;
        color: var(--colorContent);
        list-style: none;
        font-family: 'Skyline';
        font-size: 1.5rem;
        height: 10rem;
        width: 6rem;
        display: flex;
        justify-content: center;
    
    }


/*  <----------------PROCESS ---------------- */

    
