.cyril.top {
    background-image: url("https://banner2.cleanpng.com/20180630/puc/kisspng-shaquille-o-neal-boston-celtics-los-angeles-lakers-5b38406ef01336.5224648015304131669834.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
}

.cyril.middle {
    background-image: url("https://www.pngfind.com/pngs/m/527-5275233_torso-png-transparent-png.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

.cyril.bottom {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.anglomaniacy.pl%2Fimg%2Fv-legs.png&f=1&nofb=1");
    background-size: 100px;
    background-repeat: no-repeat;
}