.cyril.top {
    background-image: url("http://clipart-library.com/images_k/head-transparent/head-transparent-8.png");
    background-size: 100px;
}

.cyril.middle {
    background-image: url("https://www.pngfind.com/pngs/m/527-5275233_torso-png-transparent-png.png");
    background-size: 100px;
}

.cyril.bottom {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.anglomaniacy.pl%2Fimg%2Fv-legs.png&f=1&nofb=1");
    background-size: 100px;
}