* {
    margin: 0;
    padding: 0;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--foreground {
    transform: translateZ(1);
    transform: translateZ(1);
}

.parallax__layer--base {
    transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
    transform: translateZ(-1px);
}

.parallax__layer {
    padding: 100vh 0;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#background {
    height: 1500px;
    width: 1500px;
    background-color: darkkhaki;
}

#base {
    height: 600px;
    width: 600px;
    border-radius: 300px;
    background-color: red;
}

#foreground {
    height: 300px;
    width: 300px;
    background-color:brown;
}
