* {
    font-family: 'Raleway', sans-serif;
}

article {
    /*ich bin static und diese Angaben haben keinen Einfluss */
    top: 100px;
    left: 200px;
    max-width: 600px;
    border: 1px solid blue;
}

.relative {
    position: relative;
    background-color: lightskyblue;
}

.absolute {
    position: absolute;
    background-color: rgba(200, 0, 100, 0.5);
}

.fixed {
    position: fixed;
    background-color: rgba(0, 200, 77, 0.5);
}

.sticky {
    position: sticky;
    background-color: rgba(70, 0, 200, 0.5);
}