#myDIVextra2 {
    background-color: none;
    z-index: 10;
    display:none;
}


button {
    cursor: url(../img/pointer-small.png) 10 0,pointer;
    text-align: left;
    background: none;
    font-size: 20px;
}  

.window-header2 {
    background-color: #EF7F7A;
    cursor: url(../img/icon/drag-small.png),auto;
    height: 40px;
    border-bottom: 4px solid black;
    z-index: 10;
}

.header-close-extra {
    border: 2px solid;
    line-height: 0;
    padding: 1px;
    height: 21px;
    width: 21px;
    margin-left: 5px;
    cursor: url(../img/icon/drag-small.png),auto;
}

.close-curser {
    cursor: url(../img/pointer-small.png)  10 0,pointer;
}

.desk-window-robot {
    position: absolute;
    z-index: 8;
    background-color: #FDEAAE;
    /* text-align: center; */
    border: 4px solid black;
    left: 250px;
    top: 100px;
    width: 65%;
    height: 70%;
    overflow: visible;
}

.window-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.window-content-extra {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.download-text {
  width: 100%;
  margin-bottom: 20px;
}

.desk-window2 {
    position: absolute;
    z-index: 10;
    background-color: #FDEAAE;
    /* text-align: center; */
    border: 4px solid black;
    left: 50px;
    top: 20px;
    width: 28%;
    height: 40%;
    overflow: visible;
}

.download-button {
  text-decoration: underline;
}

.download-button:hover {
  color: #9D9ACC;
  /* color: #EF7F7A; */
}


/* -----Shut down-------- */
/* #shutdown-animation:hover {
    animation: shutdown 0.5s;
} */
  .shutdown {
    animation-duration: 0.5s;
    animation-name: shutdown;
    animation-fill-mode: forwards;
  }
  
  @keyframes shutdown {  
    50% {
      transform: scaleY(0.005);
      background-color: white;
    }
    
    90% {
      transform: scaleX(0.001) scaleY(0.005);
      background-color: white;
      opacity: 1;
    }
    
    100% {
      transform: scaleX(0.001) scaleY(0.005);
      background-color: white;
      opacity: 0;
    }
  }
  
  .btn {
    background: #7C7C7C;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    /* margin: 1rem; */
    min-width: 200px;
    padding: 0.5rem;
    text-transform: uppercase;
    width: auto;
  }
  .btn:focus, .btn:hover {
    background: #BCBCBC;
  }
  
  .btn.primary {
    background: #9D9ACC;
    background: #31ad62;
  }
  .btn.primary:focus, .btn.primary:hover {
    background: #EF7F7A;
  }

  .btn:active{
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    border-width:2px;
    position:relative;
    top:2px;
  }

  