* {
    margin: 0;
    padding: 0;
    cursor: url(../img/auto-small.png), auto;
}

.landing-body {
    background-color: #FFE99F;
}

div {
    display: block;
}
    
.tv-border {
    width: 100%;
    height: 100%;
    background-image: url(../img/tv-border.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
}

.landing-effect {
    /* animation-duration: 3.4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: turn-on; */
    /* animation: 3.4s linear 0s 1 normal none running turn-on; */
    animation: none;
}

.tv-effect {
    /* background: black; */
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.tv-effect::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
    z-index: 7;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.tv-effect::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18,16,16,0.1);
    opacity: 0;
    z-index: 7;
    pointer-events: none;
    animation: flicker 0.07s infinite;
}


.all {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }

.landing-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1 {
    box-sizing: border-box;
    margin-top: 220px;
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 35px;
    color: #9D9ACC;
}

.sun {
    /* flex: 1.3; */
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    margin-top: 90px;
}
.landing-img {
    width: 180px;
}

.landing-start {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 1em;
    color: #9D9ACC;
    text-shadow: 3px 3px 4px #21285d, 0 0 16px rgb(191 191 191 / 56%);
    /* flex: 0.5; */
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.landing-start-text {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    color: #9D9ACC;
    font-size: 1.35em;
    cursor: url(../img/pointer-small.png) 10 0,pointer;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em ;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.landing-start-pfeil {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 1em;
    color: #9D9ACC;
    text-shadow: 3px 3px 4px #21285d, 0 0 16px rgb(191 191 191 / 56%);
    animation: blinker 1s linear infinite;
    cursor: url(../img/pointer-small.png) 10 0,pointer;

}

button {
    border: 0;
    padding: 0;
    background: none;
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    font: inherit;
    cursor: url(../img/pointer-small.png) 10 0,pointer;

}

.button-link {
    color: #9D9ACC;
    text-decoration: none;
    cursor: url(../img/pointer-small.png) 10 0,pointer;

}

.landing-copyright {
    /* flex: 0.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    margin-top: 90px;
  }

  .landing-copyright-text {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 1em;
    color: white;
    color: white;
    text-shadow: 3px 3px 4px #21285d, 0 0 16px rgb(191 191 191 / 56%);
    font-size: 10px;
    font-size: 0.9em;
    font-weight: normal;
    /* margin-top: 100px; */
  }

  h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }


@keyframes blinker 
{
    50% {
        opacity: 0;
    }
  }

  @keyframes flicker {
    from {opacity: 0;}
    to {opacity: 0.55;}
  }

  @keyframes turn-on
  {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    -webkit-filter: brightness(30);
    opacity: 1;
}
3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
}
3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
}
9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    -webkit-filter: brightness(30);
    opacity: 0;
}
11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0) saturate(1);
    -webkit-filter: contrast(0) brightness(0) saturate(1);
    opacity: 0;
}
100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1.075) brightness(1.14) saturate(1.3);
    -webkit-filter: contrast(1.075) brightness(1.14) saturate(1.3);
    opacity: 1;
}
  }