body {
    margin: 0;
    padding: 0;
}

.moodboard {
    background: url(../day7/IMG_4489.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 1010px;
}


.feelslikesummer {
    display: flex;
    justify-content: center;
}

.moodbilder {
    width: auto;
}

.moodbilder img {
    width: 700px;
}

span {
    height: 100%;
    font-size: 50px;
    color: #FDEAAE;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 400px;
    font-family: 'Press Start 2P', monospace;
    /* text-shadow: 0 1px 0 #BEB083, 0 2px 0 #BEB083, 0 3px 0 #BEB083, 0 4px 0 #BEB083, 0 5px 0 #BEB083, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    overflow:visible;
}

.feels:hover {
    opacity: 0.3;
    transform: scale(0);
    transition-duration: 3s;
}

.like:hover {
    transform: scale(4)translate(0, 50px);
    transition-duration: 2s;
}

.summer:hover {
    letter-spacing: 15px;
    transition-duration: 2s;
}

.tv-effect {
    /* background: black; */
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.tv-effect::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
    z-index: 7;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.tv-effect::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18,16,16,0.1);
    opacity: 0;
    z-index: 7;
    pointer-events: none;
    animation: flicker 0.07s infinite;
}

@keyframes flicker {
    from {opacity: 0;}
    to {opacity: 0.55;}
  }