

/* attribute */

body {
    margin: 0px;
}


main {
    min-height: 1400px;

}



.special1 {
    display: inline;
    position: absolute;
}

.special2 {
    display: inline;
    position: absolute;
    top: 1200px;
    left: 400px;
}

.specialText1 {
    /*position: relative;*/
    display: inline;
    margin: 0px;
    font-size: 4em;
}

.specialBlinder1 {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: inline;
    text-align: right;
    margin: 0px;
    margin-left: 00%;
    height: 100%;
    width: 100%;
    /*border: 3px solid black;*/
    
}

.specialBlinderAnimation {
    animation: moveBlinder 3s;
    animation-fill-mode: forwards;
}

    @keyframes moveBlinder {
        from {
            margin-left: 0%;
            width: 100%;
        }

        to {
            margin-left: 100%;
            width: 00px;
        }
}