body {
    /* background-image:; */
    height: height 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(red, yellow);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
  }

h1 {
    background-color: mediumorchid;
}

h1 span {
    color: red;
}

h1 span:before {
    content: 'Before'; 
}

h1 span:after {
    content: 'After'; 
}

.arrow {
    width: 500px;
    height: 100px;
    background-color: salmon;
    box-sizing: border-box;
    position: relative;
}

.arrow:after {
content: '';
border: 50px solid transparent;
border-left-color: rgb(55, 0, 255);
display: inline-block;
position: absolute;
right: -100px;
}