* {
    font-family: 'Zen Dots', cursive;
}

body {
    /* background-color: hsl(58, 99%, 95%); */
    background-color: #afd9de;
    color: #44749b;
}

.header {
    font-size: 50pt;
    font-family: Cooper Black, sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.nr1 {
    display: flex;
    justify-content: center;
    border-color: rgb(255, 98, 0);
    border-width: 20px;
    border-style: solid;
    background-color: rgb(39, 42, 216);
    padding:40px;

}

.nr1 {
    text-align: center;
    font-size: 25px;
    background-color: rgb(43, 226, 226);
    
}

h3 {
    font-size: 30pt;
    padding-top: 50px;
    margin-bottom: 10px;
}

p {
    font-family: 'Anton', sans-serif;
}

mark {
    color: white;
    background-color:black;
}

.nr2 {
    margin-left: 30px;
    margin-top: 50px;
}

.rh1 {
    font-size: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #ffc400;
    display: flex;
    justify-content: center;
}

.rh2 {
    font-size: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #ff8000;
    display: flex;
    justify-content: center;
}

.rh3 {
    font-size: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #ff0000;
    display: flex;
    justify-content: center;
}

.nr3 {
    text-align: center;
    display: display;
    vertical-align: text-bottom;
    padding-top: 50px;
}

.rhythm {
    font-size: 50px;
    margin: 0;
}

.isrh {
    font-size: 25px;
    margin: 0;
}

.arh {
    font-size: 25px;
    margin: 0;
}

.dancer {
    font-size: 50px;
    margin: 0;
}
.footer {
    color:black;
}