body { 	font-family: 'euclid';
}

@font-face {
  font-family: 'euclid';
  src: url(/font/EuclidFlexEDU-Medium-WebXL.woff);
  format:('woff')
}


.header { width: 100%; }

.header .nav { 
	text-align: center;
	letter-spacing: 1px; 
	font-weight: bold; 
	font-size: 14px;
	cursor: pointer;
}

.header .section { position: relative; width: 400px; margin: 0 auto; }

.line { 
	color: tomato;
	text-align: center; 
	bottom: 0; 
	width: 100px; 
	left:0px;
	position: absolute; 
}

.header .nav a {
	text-decoration: none;
	color: tomato;
	height: 50px; 
	width: 100px;
	display: inline-block;
	text-align: center; 
	line-height: 50px; 
}

.line{
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.top:hover ~ .line{
	left:0 !important;
}
.about:hover ~ .line{
	left:100px !important;
}

.work:hover ~ .line{
	left:200px !important;
}
.contact:hover ~ .line{
	left:300px !important;
}

.top:target ~ .line {
	left: 0px;
}

.about:target ~ .line {
	left: 100px;
}

.work:target ~ .line {
	left: 200px;
}

.contact:target ~ .line {
	left: 300px;
}



.question1 {
  font-family: 'euclid';
	text-decoration: none;
	color: black;
	list-style-type: none;
    width: 16ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4em;
    
  }

  a{
	text-decoration: none;
	color: black;
	list-style-type: none;  
  }


a:hover {
  color: tomato;
}



  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }




  html, body {width:100%; height:100%; margin:0; padding:0;}



@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


html {
    background: 
        radial-gradient(ellipse at center, blue 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgb(252, 2, 252) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, tomato 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}


