
.header { width: 100%; }

.header .nav { 
	text-align: center;
	letter-spacing: 1px; 
	font-weight: bold; 
	font-size: 14px;
	cursor: pointer;
}

.header .section { position: relative; width: 400px; margin: 0 auto; }

.line { 
	color: blue;
	text-align: center; 
	bottom: 0; 
	width: 100px; 
	left:300px;
	position: absolute; 
}

.header .nav a {
	text-decoration: none;
	color: #000;
	height: 50px; 
	width: 100px;
	display: inline-block;
	text-align: center; 
	line-height: 50px; 
}

.line{
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.top:hover ~ .line{
	left:0 !important;
}
.about:hover ~ .line{
	left:100px !important;
}

.work:hover ~ .line{
	left:200px !important;
}
.contact:hover ~ .line{
	left:300px !important;
}

.top:target ~ .line {
	left: 0px;
}

.about:target ~ .line {
	left: 100px;
}

.work:target ~ .line {
	left: 200px;
}

.contact:target ~ .line {
	left: 300px;
}

@font-face {
	font-family: 'euclid';
	src: url(/font/EuclidFlexEDU-Medium-WebXL.woff);
	format:('woff')
  }

  body {
	  font-family: 'euclid';
  }