.face{
    background-image: url(/images/face.svg);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    /* animation: morph 1.5s linear infinite alternate; */
    animation: kopf 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: kopf1 2.5s  ;
}
    

div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 600px;
    top: 70px;
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ; 
  
}

@keyframes morph {
    0% {
      border-radius: 60% 70% 80% 40% / 70% 30% 70% 30%; }
    100% {
      border-radius: 40% 60%; }
  }

body {
    background-color: black;
}

@keyframes kopf {
  from{
    transform: scaleY(1) scaleX(1) skewY(0deg);
  }

  to{
    transform: scaleY(1.12) scaleX(1.12) skewY(5deg);
  }
}

@keyframes kopf1 {
  from{
    transform:  scaleX(1) ;
  }

  to{
    transform: scaleX(1.12) ;
  }
}