body {
  background: black;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
div {
  background-color: silver;
  height: 250px;
  width: 250px;
  display: block;
  position: relative;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
  animation: morph 3s linear infinite alternate;
}
@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; }
}
