.rectangle {
    position: absolute;
    left: 350px;
    top: 300px;
    width: 1000px;
    height: 150px;
    background: black;
    border-radius: 50%
  
  }



  .rectangle2 {
    position: absolute;
    left: 350px;
    top: 455px;
    width: 1000px;
    height: 150px;
    background: black;
    border-radius: 50%
  
  }


  .rectangle2:hover {
    background-color: rgb(252, 2, 252);
}



  .rectangle:hover {
      background-color: rgb(252, 2, 252);
  }


  a{
	text-decoration: none;
	color: white;
	list-style-type: none;  
  }  





.pulse {
    position: absolute;
    left: 650px;
    top: 345px;
    font-size: 50px;
    color: white;
   
}


.wort2 {
    position: absolute;
    left: 640px;
    top: 500px;
    font-size: 50px;
    color: white;

}


@font-face {
  font-family: 'euclid';
  src: url(/font/EuclidFlexEDU-Medium-WebXL.woff);
  format:('woff')
}

body {
  font-family: 'euclid';
}


 