body {
  background-color: rgb(252, 2, 252)
}




.pulse {
  position: absolute;
  left: 20px;
  font-size: 80px;
  top: 0px;
  font-family: 'Droid Sans', sans-serif;
  

}

a{
	text-decoration: none;
	color: black;
	list-style-type: none;  
  }

.wort2 {
  position: absolute;
  top: 780px;
  left: 40%;
  font-size: 80px;
  font-family: 'Droid Sans', sans-serif;
}

.pulse:hover {
  color: white;
}

.wort2:hover {
  font-size: 150px;
  color: white;
}












  
