body {
    background-color: rgb(252, 2, 252);
    font-family: 'euclid';
}

@font-face {
  font-family: 'euclid';
  src: url(/font/EuclidFlexEDU-Medium-WebXL.woff);
  format:('woff')
}


.header { width: 100%; }

.header .nav { 
	text-align: center;
	letter-spacing: 1px; 
	font-weight: bold; 
	font-size: 14px;
	cursor: pointer;
}

.header .section { position: relative; width: 400px; margin: 0 auto; }

.line { 
	color: white;
	text-align: center; 
	bottom: 0; 
	width: 100px; 
	left:200px;
	position: absolute; 
}

.header .nav a {
	text-decoration: none;
	color: white;
	height: 50px; 
	width: 100px;
	display: inline-block;
	text-align: center; 
	line-height: 50px; 
}

.line{
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.top:hover ~ .line{
	left:0 !important;
}
.about:hover ~ .line{
	left:100px !important;
}

.work:hover ~ .line{
	left:200px !important;
}
.contact:hover ~ .line{
	left:300px !important;
}

.top:target ~ .line {
	left: 0px;
}

.about:target ~ .line {
	left: 100px;
}

.work:target ~ .line {
	left: 200px;
}

.contact:target ~ .line {
	left: 300px;
}
  
  .question1 {
    width: 16ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4em;
    
  }

  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.question1:hover {
    color: blue;

}

a{
	text-decoration: none;
	color: white;
	list-style-type: none;  
  }


a:hover {
  color: black;
}

  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

