

/* All */
* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* attribute */

figcaption {
    /* braucht im Parent: position: relative !! */
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 2rem;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: rgba(104, 103, 101, 0.49);
    padding: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
    opacity: 0;
}

.flexbox {
    display: flex;
}


.hauptteil {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.main-left {
    width: 50%;
    background-color: lightgoldenrodyellow;
    display: inline;
}

    .main-left img {
        max-width: inherit;
        width: 100%;
        position: sticky;
        top: 0px;
        margin-left: auto;

    }

.main-right {
    width: 50%;
    display: inline;
}

    .main-right figure {
        top: 0px;
        left: 0px;
        margin: 0px;
        position: relative;
        display: block;
    }

        .main-right figure:hover figcaption {
            opacity: 1;
        }

    .main-right img {
        width: 100%;
        display: block;
    }
