
    
    @font-face {
      font-family: Skyline;
      src: url(process/img/NewParisEDUSkyline-Regular.otf);
    }

    body{
        font-family: "Skyline";
    }
    

    nav{
        border-bottom: 1px solid rgb(0, 0, 0);
        position: relative;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        padding: 0rem;
        margin: 0rem;
    }

    ul{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0rem;
      padding: 0rem
    }

    li{
        position: relative;
        display: inline-flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        text-decoration: none;
        font-family: "Skyline";
        color: black;
       
    }

    a{
       text-decoration: none;
       color: black;
          }

    li:hover a{
      color: white;
    }
   


    li:hover  {
      background-color: rgb(0, 0, 0);
      color: white;
      opacity: 100%;
    }



     h1{
        font-family: "Skyline";
        font-size: 80px;
        text-align: center;
    } 
    p{
        font-family: "Skyline";
        font-size: 40px;
        text-align: center;
    }