/* ALLGEMEIN */
    
    @font-face {
      font-family: 'Skyline';
      src: url(NewParisEDUSkyline-Regular.otf);
    }

    body{
        font-family: 'Skyline';
        background-color: black;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
    }

    nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        z-index: 2;

    }
    
    .audio{
        position: absolute;
        top: 0;
        right: 0;
    }


 /* ----------------------- CURSOR -----------------------> */
        #cursor{
            position: absolute;
            width: 50px;
            height: 50px;
            /* background-color: rgb(255, 255, 255); */
            border: 1px solid white;
            box-sizing: border-box;
            transition: 0.2s;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            pointer-events: none;
            cursor: none;
            z-index: 3;

            mix-blend-mode: difference;  
        }

        #outerCursor{
           position: absolute;
            width: 30px;
            height: 30px;
            /* border: 1px solid white; */
            background-color: white;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            pointer-events: none;
            cursor: none;
            z-index: 3;

            mix-blend-mode: difference;  
        }

        .element.style{
            opacity: 0;
            transform: matrix(0, 0, 0, 0, 1062, 896);
        }

        
        #cursor-follower{
            position: fixed;
            width: 60px;
            height: 60px;
            pointer-events: none;

        }

        #cursor-follower{
            mix-blend-mode: difference;
        }
/* <----------------------- CURSOR ----------------------- */


    
/* ---------------- THE OVERLAY - MENU ---------------->  */
        .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0); /* Black fallback color */
        background-color: rgb(0, 0, 0); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
        }

        /* Position the content inside the overlay */
        .overlay-content {
        background-color: black;
        position: relative;
        /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: start; /* Centered text/links */
        margin-top: 8vh; /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
        padding: 0px;
        text-decoration: none;
        font-size: 36px;
        color: #000000;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
        display: flex;
        align-items: center;
        padding-left: 1rem;
        }

        /* When you mouse over the navigation links, change their color */
        .overlay .menu:hover, .overlay .menu:focus {
        background-color: black;
        color: white;
        background-image: url(https://i.pinimg.com/originals/d3/20/ab/d320ab3633f51832a7f168780a36bf1e.gif);
            /* background-image: url(https://i.pinimg.com/originals/c5/a6/4f/c5a64fe6c50f40cba2fd9c3db6533aab.gif); */
            /* background-image: url(https://i.pinimg.com/originals/13/7b/26/137b2650381f68239e643ed58dfc8777.gif); */
            background-size: 100%;
        }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
        position: absolute;
        right: 1rem;  top:1rem;
        fill: rgb(255, 255, 255); 
        transform: rotate(45deg);
        transform-origin: center; 
        }

        .closebtn:hover{
           transform: rotate(225deg);
           transition: ease-in-out 0.25s;
        }

        .openbutton{
        fill: white;
        position: absolute;
        transform-origin: center;
        left: 1rem;
        top: 1rem;
        }
       
         .openbutton, .closebtn{
            width: 30px;
            height: 30px;
   
         }
        .openbutton:hover {
            transform: rotate(180deg);
           transition: ease-in-out 0.25s;
           transform-origin: center;
        }

    /* OVERLAY TEXT */
        .menu{
            width: 38.5vw;
            height: 20vh;
            padding-left: 3rem;
            border: black solid 6px;
            border-left: none;
            margin: 0;
            text-decoration: none;
            color: black;   
            font-family: 'Skyline';
            font-size: 500px;
            background-color: white;
            
        }
        .home1{
            border-bottom: none;
        }
        .song1{
            border-bottom: none;
        }
        .robot1{
            border-bottom: none;
        }
/* <----------------THE OVERLAY - MENU----------------*/


/* -----------------------ALLGEMEIN----------------------- */
        @font-face {
            font-family:"brr";
            src: url(../process/fonts/BRRREDU-Medium.otf);
        }
      
       

        *{
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            border: gold 0px solid;
            overflow-y: visible;
           
        }

        main{
             perspective: 100px;
            overflow-y: auto;
            position: absolute;
            height: 100vh;

            color: white;
        }
        article{
            position: relative;
            width: 100vw;
            height: 130vh;
            display: flex;
            justify-content: center;
            overflow: visible;

        }

        section{
            position: relative;
            width: 100vw;
            height: 290vh;
            display: flex;
            justify-content: center;
            overflow: visible;
            
           
        }

        .parallax__layer{
            position: absolute;
            font-family:"brr";
            font-size:70px;
            
        }

        .s1{
            top: 8rem;
            left: 4rem;
            transform: translateZ(1);

        }

        .s2{
            top:10rem;
            left: 30rem;
              color: rgb(0, 0, 0);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
            transform: translateZ(-1);
        }

        .s3{
            top: 13rem;
            right: 4rem;
        }


        figure{
            width: 70rem;
            background-size: cover ;
            height: 70rem;
          
        }

        figure{
            transform: translateZ(-2);
        }


        

/* -----------------------STARTSEITE----------------------- */
        .start{
            width: 100vw;
        }

       
       
        h1{
            position: absolute;
            font-family: 'Skyline';
            font-size: 150px;
            width: 100vw;
            border: teal 0px solid;
            bottom: 20rem;
            margin-left: 8rem;
           

            text-shadow:10px 10px rgba(255, 255, 255, 0.211); 
             animation: shadow infinite 6s;       
        }

    

        @keyframes shadow {
            0% {
                
                text-shadow:rgb(197, 197, 197) 10px 10px 5px;


            }
            30% {
                text-shadow:rgb(197, 197, 197) -10px 10px 10px;
            }

            80% {
                text-shadow:rgb(197, 197, 197) 10px -10px 10px;
            }

            100%{
                 text-shadow:rgb(197, 197, 197) 10px 10px 5px;
            }
        }




/* -----------------------ERSTE SEKTION----------------------- */

            .first{
                margin-top: 40rem;
            }

            .one {
                background-image: url(https://i.pinimg.com/564x/d3/aa/4c/d3aa4c47fdea6329b3a3fb31e6726ce6.jpg), url(https://i.pinimg.com/564x/9b/5f/f6/9b5ff6a517eb6a61d1f9b2029feceb60.jpg);
                background-blend-mode: overlay;
                left: -9rem;      

            }
            .two {
                background-image: url(https://i.pinimg.com/564x/3c/50/1a/3c501a67f0e72fcb3f64177de1c0c620.jpg), url(https://i.pinimg.com/564x/96/da/ac/96daac8ba53ec8b030d0fcba273203ad.jpg) ;
                background-blend-mode: overlay;
                right:-15rem;
                top: 75rem;
            }

            .parallax {
            width: 100%;
            perspective: 2px;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: visible;
            }
            .parallax__layer {
            position: absolute;
           
            }
            .parallax__layer--base {
            transform: translateZ(1);
            z-index: 1;
      

            }
            .parallax__layer--back {
            transform: translateZ(-1px);
            
            }

             .parallax__layer--ground {
            transform: translateZ(-4px);
            z-index: -1;
            
            }

            .feeling{
                 top:-3rem;
                 left: 10rem;
            }

            .begun{
                top: 4rem;
                left: 30rem;
            }

            .saying{
                top: 39rem;
            }

            .said{
                top: 42rem;
            }

            .doing{
                top: 80rem;
                left: 26rem;
            }
            .done{
                top: 83rem;
                left: 40rem;
            }


 /* -----------------------ZWEITE SEKTION----------------------- */

            .second{
                height: 150vh;
            }


            .text{
                font-family: 'skyline';
                position: relative;
                text-align: center;
                letter-spacing: 4rem;
                line-height: 2rem;
                border: 0px solid tomato;
                color: white ;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                animation: text ease-in-out 7s infinite;


            }


            @keyframes text {
                0%{
                font-size: 1rem;
                }

                50%{
                font-size: 0.3rem;
                }

                100%{
                font-size: 1rem;
                }
            }

   /* -----------------------DRITTE SEKTION----------------------- */
            .head1{
                background-image: url(https://i.pinimg.com/564x/89/4f/bf/894fbf78c79faccabd6ab21d48546408.jpg), 
                        url(https://i.pinimg.com/564x/8b/a8/20/8ba820ff73dcd3de10870d4d19af94f4.jpg);
                background-blend-mode: overlay; 
                left: -30rem;
            }
            .head2{
                background-image: url( https://i.pinimg.com/564x/8b/a8/20/8ba820ff73dcd3de10870d4d19af94f4.jpg), 
                        url(https://i.pinimg.com/564x/68/29/33/682933d289021787f5420e1856a89581.jpg);
                background-blend-mode: overlay;
                right: -30rem;
                top:40rem;
            }

            .s3{
                top:90rem;
                left: 55rem;
                width: 100rem;
                color: rgb(0, 0, 0);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgb(255, 255, 255);
                transform: translateZ(-1);
            }