a {
    color: aqua;
    
}

.robot {
    /* border-width: 10px;
    border-color: tomato;
    border-style: dotted;
    background-color: thistle; */

    /* border: 20px solid dotted;
    border-left-color: transparent;
    width: 100px;
    height: 100px; */
    margin: 2rem;
    border: 10px solid linen;
    padding: 2rem;
    border-radius: 50px;
    border-top-left-radius: 0;
    width: 300px;
    box-sizing: border-box;
    /* width: 50%; */
}

/* .robot .body {
    border: 20px solid magenta;
} */