body {
    background: linear-gradient(blue, red);
    height: 100%;
    min-height: 100vh;
    animation: grad 3s;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(red, blue);
    opacity: 0;
    animation: fade 3s infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}