* {
    font-family: 'Raleway', sans-serif;
}

article {
    position: relative;
    background-color: lightskyblue;
    top: 0px;
    left: 0px;
    max-width: 600px;
    min-height: 40vh;
    margin-bottom: 2rem;
}

article.myclass {
    background-color: rgb(189, 202, 130);
}