article {
    top: 100px;
    left: 200px;
    max-width: 500px;
}

h1 {
    font-size: 100px;
}

img {
    width: 1000px;
}

.sticky {
    position: sticky;
    top: 10px;
}

.fixed {
    position: fixed;
    top: 5px;
}

.absolute {
    position: absolute;
    top: 20px;
}

.relative {
    position: relative;
}