body {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(violet, yellow );
}

.shape {
    border: 10px solid black;
    padding: 1rem;
    width: 100px;
    margin: 2rem;
    box-sizing: border-box;
    display: inline-block;
}

.square {
    background-color: tomato;
    width: 200px;
    height: 200px;
}

.rectangle {
    background-color:steelblue ;
    width: 200px;
    height: 400px;
}

.circle {
background-color: olive;
width: 500px;
height: 500px;
border-radius: 500px;
}

