.navbar {
  max-width: 400px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

li {
  font-size: 30px;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Antonio', sans-serif;
}
  
li a:hover:not(.active) {
  background-color: #b3dbe4;
}
  
li a.active {
  color: white;
  background-color: #559db3;
}
  
  
