li a.navbarprocess {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 15px;
    opacity: 50%;
    list-style-type: none;
    font-family: 'Audiowide';
    font-size: 30px;
    float: left;
    margin: 5px;
    transition: 1s;
}
  
li a.navbarprocess:hover {
    opacity: 100%;
}

.ulprocess {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-left: 30px;
    
}
.navprocess {
    margin-top: 100px;

}