body {
    /* background-color: hsl(58, 99%, 95%); */
    background: linear-gradient(rgb(255, 255, 255), rgba(185, 39, 55, 0.5), rgba(166, 40, 69, 0.5), rgba(172, 207, 210, 0.5), rgba(248, 207, 77, 0.5), rgba(64, 39, 129, 0.5), rgba(131, 217, 223, 0.5), rgba(252, 232, 102, 0.5), rgba(128, 212, 135, 0.5), rgba(43, 66, 94, 0.5), rgba(153, 188, 200, 0.5), rgba(173, 172, 177, 0.5), rgba(86, 195, 89, 0.5), rgba(234, 66, 59, 0.5), rgba(243, 178, 62, 0.5), rgba(121, 199, 229, 0.5), rgba(199, 154, 107, 0.5), rgba(177, 190, 202, 0.5), rgba(174, 36, 33, 0.5), rgba(232, 229, 197, 0.5), rgba(255, 255, 255, 0.5));
    animation: movingGradient 200s ease infinite;
    min-height: calc(100vh - 30px);
    background-size: 100% 5000%;
    display: block;
    color: #000000;
    height: 800px
}

@keyframes movingGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

h1 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    margin-top: 30px;    
}

p {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    margin-top: 20px;
} 
h2 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
}

h2:hover {
    background-color: #111;
}