body {
    text-align: center;
    width: 100%;
}

.shape {
    border: 10px solid black;
    padding: 1rem;
    width: 100px;
    float: left;
    margin: 2rem;
    box-sizing: border-box;
    display: line inline-block;
}

.rectangle {
    width: 200px;
    height: 300px;
    background-color: lime;
}

.square {
    width: 200px;
    height: 200px;
    background-color: mediumblue;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.shape.circle {
    border-color: mediumblue;
    background-color: mediumorchid;
}