   body {
     /* background: rgb(215, 235, 241); */
    
  /* color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: changa-one, sans-serif;
  font-size: 80px;
  margin-top: 0px;
  background-color: #03031A;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
   */
   height: 65vw;
background-size: cover;
background: rgb(36,85,116);
background: linear-gradient(0deg, rgba(36,85,116,1) 24%, rgba(36,22,115,1) 49%, rgba(14,19,77,1) 81%);
background-blend-mode: multiply, screen;
}
   .head {
     width: 300px;
  height: 300px;
  border: 6px solid #eccc87;
  background-color: #ebdab5 ;
  margin-left: 35%;
  margin-top: 10%; 
  border-radius: 5%;
  position: absolute;
  transform: translate3d(20%,-50%,0);
  /* border-style: inset;
  border-top-color: rgba(155, 233, 247, 0.932); */
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000; 
   box-shadow: 2px 1px 4px 1px #eccc87;
 
}


.eye.eye--left {
  width: 95px;
  height: 115px;
  /* background-color: aqua; */
  border: 5px solid #A0EEFF;
  margin-left: 0%;
  position: absolute;
  border-radius: 5%;
  -moz-box-shadow:    inset 0 0 7px #000000;
   -webkit-box-shadow: inset 0 0 7px #000000;
   box-shadow:         inset 0 0 7px #000000; 
   box-shadow: 2px 1px  4px 1px rgba(54,141,158,0.64);
}
.eye.eye--right {
width: 95px;
  height: 115px;
 
  border: 5px solid #A0EEFF;
  margin-left: 65%;
  position: absolute;
  border-radius: 5%;
  -moz-box-shadow:    inset 0 0 7px #000000;
   -webkit-box-shadow: inset 0 0 7px #000000;
   box-shadow:         inset 0 0 7px #000000; 
   box-shadow: 2px 1px 13px 5px rgba(54,141,158,0.64);

}

.gif {
     position: absolute;
  
  width: 60%;
  height: 50%;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  right: 25%;
  top: 30%;
  margin: auto;
  background-size: 190%;
  background-position: center center;
}

.mouth {
margin-left: 30%;
  width: 120px;
  height: 65px;
  border-radius: 45%;

  position: absolute;
  top: 32%;
  border: 5px solid rgb(93, 200, 233);
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;

} 
.arm.arm-left
{ 
  /* transform-origin: center left; */
  position: relative;
  top: 0;
  left: 50px;
  right: 230px;
  bottom: 25px;
  margin: auto;
  height: 30px;
  width: 100px;
  background: lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;

}
.arm.arm--left {
color: black;

}


.leg{
  width:10px;
  height:100px;

}

.leg.leg--right{
  margin-left:50%;
  height:20px;
  width:12px;

  bottom:20%;
 

  border-radius:5px;
  z-index:3;
}
svg.right { 
  width: 50%;
stroke-width: 0.5%;
  position: absolute;
  height: 20%;
top: -15%;
  left: -27%;
  right: 230px;
  bottom: 30%;
  margin: auto;
  z-index: -3;
  fill: black;

}

svg.left {
    width: 40%;
stroke-width: 0.5%;
  position: absolute;
  height: 26%;
top: 5%;
  left: -15%;
  right: 230px;
  bottom: 30%;
  margin: auto;
  z-index: -4; 
  fill:blue; 
}
@keyframes hand {
  20% {
           transform: rotate(-5deg);
    
  transform-origin: bottom left ; 
   }
    50% {
       transform: rotate(-25deg);
    
  transform-origin: bottom left ;
    }
    65%{
          transform: rotate(-15deg);
    
      transform-origin: bottom left ;

    }
    80% {
                 transform: rotate(-10deg);
    
  transform-origin: bottom left ; 
    }
    90% {
        transform: rotate(-5deg);
    
  transform-origin: bottom left ; 
    }
    100% {
      transform: rotate(0deg);
    
  transform-origin: bottom left ;   
    }
}
        .st0 {
          fill:  #A0EEFF;
          stroke: #000000;
          stroke-miterlimit: 10;
          
             transform-origin: bottom left ;
          animation-timing-function: cubic-bezier(0, 0, 0, 0);
 animation-name: hand ;
animation-duration: 4s ;
transition: all 5s;
 animation-iteration-count: infinite; 
 box-shadow:  1px 10px rgba(0,0,0,.2);
        }
    
        .st1 {
          fill:  #48ceec;
          stroke: #ca0000;
          stroke-width: 0.5;
          stroke-miterlimit: 10;
          box-shadow:  1px 10px rgba(0,0,0,.2);
        }
    .bar {
        width: 135px;
        background-color: #999999;
        height: 45px;
       margin-top: 75%;
       margin-left: 28%;
       border-radius: 10px;
       border: 5px solid rgb(74, 152, 255);
       display: flex;
       flex-direction: row;
        
    }
    .one {
        
        width: 20px ;
        height: 25px;
        background-color: rgb(185, 184, 184);
        margin-top: 15%;
        margin-left: 8%;


        animation-name: one;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        transition: all 4s;
        animation-iteration-count: infinite; 
        animation-delay: 0s;
    }
    @keyframes one {
     
      50% {
          transform: scaleY(1.5); 
           transform-origin: bottom;
       }
       100% {
               transform: scaleY(1);
           transform-origin: bottom;
       }
    }
    .two {
         width: 20px ;
        height: 40px;
        background-color: rgb(185, 184, 184);
        margin-top: 5px;
        margin-left: 3%;

        animation-name: two;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        transition: all 4s;
        animation-iteration-count: infinite; 
        animation-delay: 0s;
    }
    @keyframes two {
       50% {
          transform: scaleY(0.5); 
           transform-origin: bottom;
       }
       100% {
               transform: scaleY(1);
           transform-origin: bottom;
       }
    }
    .three {
          width: 20px ;
        height: 30px;
        background-color: rgb(185, 184, 184);
        margin-top: 15px;
        margin-left: 3%;
           animation-name: three;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        transition: all 4s;
        animation-iteration-count: infinite; 
        animation-delay: 0s;
    }
      @keyframes three {
       50% {
          transform: scaleY(0.5); 
           transform-origin: bottom;
       }
       100% {
               transform: scaleY(1);
           transform-origin: bottom;
       }
    }
    .four {
          width: 20px ;
        height: 10px;
        background-color: rgb(185, 184, 184);
        margin-top: 35px;
        margin-left: 3%;

            animation-name: four;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        transition: all 4s;
        animation-iteration-count: infinite; 
        animation-delay: 0s;
    }
    @keyframes four {
       50% {
          transform: scaleY(1.5); 
           transform-origin: bottom;
       }
       80% {
            transform: scaleY(2); 
           transform-origin: bottom;
       }
       100% {
               transform: scaleY(1);
           transform-origin: bottom;
       }
    }
    .five {
        width: 20px ;
        height: 40px;
        background-color: rgb(185, 184, 184);
        margin-top: 5px;
        margin-left: 3%;

            animation-name: five;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        transition: all 4s;
        animation-iteration-count: infinite; 
        animation-delay: 0s;
    }
     @keyframes five {
       50% {
          transform: scaleY(0.5); 
           transform-origin: bottom;
       }
       80% {
            transform: scaleY(1); 
           transform-origin: bottom;
       }
       100% {
               transform: scaleY(1);
           transform-origin: bottom;
       }
       }
