   body {
     /* background: rgb(215, 235, 241); */
    
  /* color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: changa-one, sans-serif;
  font-size: 80px;
  margin-top: 0px;
  background-color: #03031A;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
   */
   height: 65vw;
background-size: cover;
background: rgb(77,103,121);
background: linear-gradient(0deg, rgba(77,103,121,1) 0%, rgba(45,31,125,1) 45%, rgb(4, 6, 36) 69%);
   }
   .head {
     width: 300px;
  height: 300px;
  border: 6px solid #A0EEFF;
  margin-left: 35%;
  margin-top: 10%; 
  border-radius: 5%;
  position: absolute;
  transform: translate3d(20%,-50%,0);
  /* border-style: inset;
  border-top-color: rgba(155, 233, 247, 0.932); */
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000; 
   box-shadow: 2px 1px 13px 11px rgba(54,141,158,0.64);
 
}


.eye.eye--left {
  width: 95px;
  height: 115px;
  /* background-color: aqua; */
  border: 5px solid rgb(117, 188, 255);;
  margin-left: 0%;
  position: absolute;
  border-radius: 5%;
}
.eye.eye--right {
width: 95px;
  height: 115px;
 
  border: 5px solid rgb(117, 188, 255);;
  margin-left: 65%;
  position: absolute;
  border-radius: 5%;

}

.gif {
     position: absolute;
  
  width: 60%;
  height: 50%;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  right: 25%;
  top: 30%;
  margin: auto;
  background-size: 190%;
  background-position: center center;
}

.mouth {
 
  width: 297px;
  height: 50px;
 background-color: white;
  position: absolute;
  top: 55%;
  border: 1px solid rgb(230, 0, 0)

}
.arm.arm-left
{ 
  /* transform-origin: center left; */
  position: relative;
  top: 0;
  left: 50px;
  right: 230px;
  bottom: 25px;
  margin: auto;
  height: 30px;
  width: 100px;
  background: lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;

}
.arm.arm--left {
color: black;

}
svg.right { 
  width: 20%;
stroke-width: 0.5%;
  position: absolute;
  height: 25%;
top: -15%;
  left: -18.5%;
  right: 230px;
  bottom: 30%;
  margin: auto;
  z-index: -3;
animation-timing-function: ease-in-out;
  animation-name: hand;
animation: 5s forwards ;
}

svg.left {
    width: 20%;
stroke-width: 0.5%;
  position: absolute;
  height: 25%;
top: 5%;
  left: -14.5%;
  right: 230px;
  bottom: 30%;
  margin: auto;
  z-index: -4; 
  fill:blue;
}
@keyframes hand {
    0% {
        opacity: 10;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 10;
    }
}

.leg{
  width:10px;
  height:100px;
  background-color:blue;
  

}
.leg.leg--right{
  margin-left:100px;
  height:20px;
  width:12px;
  background:#FF0;
  bottom:20%;
  background:#7AA6C1;
  border:1px solid #000;
  border-radius:5px;
  z-index:3;
}

        .st0 {
          fill: #FFFFFF;
          stroke: #000000;
          stroke-miterlimit: 10;
        }
    
        .st1 {
          fill: #FFFFFF;
          stroke: #000000;
          stroke-width: 0.5;
          stroke-miterlimit: 10;
        }
      
       
