

main {
    
}

svg {
    width: 400px;
    height: 400px;
    display: inline;
    /*border: 5px solid black;*/
}

.whirl {
    fill: none;
    stroke: #222221;
    stroke-miterlimit: 10;
    /*set dashoffset to 0 so that if JS is off the image will still appear => Progressive Enhancement*/
    stroke-dashoffset: 0;
}

.hex {
    fill: none;
    stroke: #222221;
    /*set dashoffset to 0 so that if JS is off the image will still appear => Progressive Enhancement*/
    stroke-dashoffset: 0;
}

.font {
    fill: none;
    stroke: #222221;
    /*set dashoffset to 0 so that if JS is off the image will still appear => Progressive Enhancement*/
    stroke-dashoffset: 0;
}

.fontSVG {
    width: 800px;
    height: 400px;
    display: inline;
    /*border: 5px solid black;*/
}

.special1 { 
   display: inline-block;
}


.specialText1 {
    position: relative;
    margin: 0px;
    font-size: 4em;
}

.specialBlinder1 {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: inline;
    text-align: right;
    margin: 0px;
    margin-left: 50%;
    height: 4em;
    width: 450px;
    /*border: 3px solid black;*/
    animation: moveBlinder 3s;
}

@keyframes moveBlinder {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 50%;
    }
}