body {
  background-image: url(Mood_Rhythm_Details.jpg);
  background-size: cover;
  font-family: Antonio ;

}

/* .moodbild {
    width: 200px;
    height: center;
  } */
/* .moodpicture {
    color: white;
    display: block;
    
} */
