a {
    color: tomato;
    /*color:#400*/
}

/* Main robot style*/
.robot {
    border: 100px solid purple;
    background-color:rgba(200, 100, 50, .3);
    border-width: 100px;
    border-style: dashed;
    padding: 2rem;
    border-left-color: lawngreen;
    border-right-color: transparent;
    border-radius: 50px;
    border-top-left-radius: 20px;
    width: 300px;
    box-sizing: border-box;

}

.robot .body{
    border: 20px coral;

}

body {
    background-color: purple;
    background-image: url(cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}