/* Import NavBar CSS*/
@import "styleNavBar.css";

/* All */
* {
    font-family: 'Source Sans Pro', sans-serif;
}


/* attribute */

body {
    margin: 0px;
}


main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

    main article {
        min-height: 700px;
    }

.robot {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .robot * {
        margin: 10px;
        height: 20px;
        width: 100%;
        border: 2px solid red;
        display: inline-block;
    }

    .robot .head {
        position: absolute;
        top: 100px;
        left: 450px;
        width: 100px;
        height: 100px;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgb(208, 208, 80);
    }

        .robot .head * {
            margin: 0px;
        }

    .robot .eye {
        width: 30%;
        margin-left: 8px;
        margin-right: 8px;
        box-sizing: border-box;
        display: inline-flex;
    }

    .robot .eye--left {
    }

    .robot .nose {
        display: block;
        width: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .robot .mouth {
        margin: 20px;
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .robot .body {
        position: absolute;
        top: 230px;
        left: 400px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 300px;
        border: 0px;
        border-radius: 30px;
    }

        .robot .body img {
            display:inline;
            margin: 0px;
            border: 0px;
            width: 100%;
            height: 100%;
            border-radius:30px;
        }

    .robot .leg {
        position: absolute;
        left: 430px;
        top: 550px;
        width: 60px;
        height: 210px;
    }

    .robot .leg--right {
        position: absolute;
        top: 550px;
        left: 500px;
    }

    .robot .foot {
        margin: 0px;
        position: relative;
        top: 100%;
        width: 50px;
        height: 30px;
    }


    .robot .arm {
        position: absolute;
        top: 230px;
        left: 310px;
        width: 60px;
        height: 210px;
    }

    .robot .arm--right {
        position: absolute;
        top: 230px;
        left: 600px;
    }

    .robot .hand {
        margin: 0px;
        position: relative;
        top: 100%;
        width: 50px;
        height: 30px;
    }
