* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family:monospace;
}

a {
    text-decoration: none;
    color: black;
    margin-bottom: 10rem;
}

.girl {
    margin: 3em;
}

#blume-links, 
#blume-rechts {
    animation: blume 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#stiel-links,
#stiel-rechts {
    animation: stiel 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#arm-links {
    animation: arm1 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

#arm-rechts {
    animation: arm2 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
    animation-delay: 0.5s;
}

@keyframes blume {
    from{
    transform: translateY(15%);
    }
    to{
    transform: translateY(0%);
    }
}

@keyframes stiel {
    from{
    transform: rotateX(0deg);
    }
    to {
    transform: rotateX(40deg);
    }
}

@keyframes arm1 {
    from{
    transform: rotateZ(0deg);
    }
    to{
    transform: rotateZ(40deg);
    }
}

@keyframes arm2 {
    from{
    transform: rotateZ(0deg);
    }
    to{
    transform: rotateZ(-35deg);
    }
}