body{
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(250, 167, 225);
    color: white;
    margin: 1%;
  }
  
  h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: absolute;
    top: 2%;
    right: 2%;
    color:white;
  }
  
  p {
    font-size: 70px;
    margin-top: 20px;
    text-align: center;
    font-size: 70px;
  margin-top: 5%;
  text-align: center;
  color: white;
  animation-name: farben;
  animation-duration: 8s;
  animation-iteration-count:infinite ;
  animation-direction: alternate;
  text-shadow: -2px 0 1px #8d8a8a, -4px 0 0 #c9c9c9,  -6px 0 1px #fff,-6px 1px 1px #fff,-6px 2px 1px #fff, 0px 2px 1px #fff, 0px 1px 0px #fff, 0px 0 1px #fff,-6px -1px 1px #fff,
  -6px -2px 0px #fff, 0px -1px 0px #fff
  ,-1px -2px 0px #fff, 1px -1px 1px #fff,  1px -1px 1px #fff,-4px -2px 0px #fff,-3px -2px 0px #fff,-4px 2px 1px #fff, -3px 2px 1px #fff,

-6px 8px 0px #9B708E, -5px 7px 0px #9B708E, -4px 6px 0px #9B708E, -3px 5px 0px #9B708E, -2px 4px 0px #9B708E, -1px 3px 0px #9B708E, 0px 2px 0px #9B708E, 1px 1px 0px #9B708E,0px 3px 0px #9B708E,-8px 8px 0px #9B708E,
  
  
  -6px 8px 0px #715169,-6px 9px 0px #715169, -6px 10px 0px #715169, -6px 11px 0px #715169, -6px 12px 0px #B290A9, -6px 13px 0px #B290A9, -6px 14px 0px #B290A9, -6px 15px 0px #B290A9, -6px 16px 0px #B290A9, -6px 17px 0px #B290A9, -6px 18px 0px #B290A9, -6px 19px 0px #B290A9, -6px 20px 0px #B290A9, -6px 21px 0px #B290A9, -6px 22px 0px #B290A9;

  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:transparent;
      position: relative;
    }
  
    
    li {
      float:left;
      position: relative;
      display: flexbox;
      
    }
    
    li a {
      position: relative;
      display: flexbox;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: hotpink;
      color: white;
    }
  
    .active {
      display: flexbox;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: hotpink;
    }
  
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style-type: none;
      margin: 10px;
      padding: 0;
      width: 100%;
      display: flexbox;
      flex-direction:row;
    }
  
    .days:hover {
        color: white;
        background-color:hotpink;
    }
  
  
    li a {
      display: block;
      text-align: center;
    }
  
  .days {
       background-color:transparent;
       display: inline-flexbox;
       text-align: center;
       color: black;
       font-size: 25px;
       
   } 



  