.top.julia {
    position: relative;
    height: auto;
    width: auto;
    border-radius: 100%;
    background-image: url("https://source.unsplash.com/random/?acid");
    background-color:chartreuse;
    
}

.middle.julia {
    position: relative;
    background-color: cadetblue;
}

.bottom.julia {
    position: relative;
    background-color: chartreuse;
}