.top.julia {
    position: relative;
    border-radius: 100%;
    background-color:rgb(111, 0, 255);
    
}

.middle.julia {
    position: relative;
    border-radius: 100%;
    background-color: rgb(8, 247, 255);
}

.bottom.julia {
    position: relative;
    border-radius: 100%;
    background-color: chartreuse;
}