@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

/* General Formatting */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Amiko', sans-serif; 
    /* font-family: 'Yatra One', cursive; */
    background: rgb(219,200,243);
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

a:hover {
    font-style: italic;
    cursor: pointer;
}


/* Story3 formatting */

.body_gradient {
    height: 15000px;
    background: rgb(219,200,243);
    background: linear-gradient(180deg, rgba(219,200,243,1) 0%, rgba(163,95,134,1) 10%, rgba(143,86,122,1) 16%, rgba(92,63,92,1) 17%, rgba(43,28,46,1) 24%, rgba(29,11,13,1) 31%, rgba(43,15,16,1) 38%, rgba(84,27,23,1) 39%, rgba(124,39,34,1) 48%, rgba(150,46,40,1) 57%, rgba(212,48,30,1) 70%, rgba(255,47,0,1) 91%, rgba(255,158,0,1) 100%);
}

div.pole {
    position: fixed;
    left: 50%;
    height: auto; 
    width: 15px;
    top: 0px;
    z-index: 2;
}

span {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 7px;
    background-color:rgb(80, 80, 80);
  }

div.dancer1 {
    width: 450px;
    height: auto;
    z-index: 3;
    position: relative;
}

    /* SVGs + their Positioning */

.container {
    position: relative;
}

.handleft {
    position: absolute;
    top: 500px;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: auto;
}

#handleftID {
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.handright {
    position: absolute;
    top: 400px;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: auto;
}

#handrightID{
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.angel1 {
    position: absolute;
    top: 1050px;
    left: 60%;
    width: 20vw;
    height: auto;
    transform: rotate(15deg);
}

#angel1ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.angel2 {
    position: absolute;
    top: 800px;
    left: 70%;
    width: 20vw;
    height: auto;
    transform: rotate(25deg);
}

#angel2ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.angel3 {
    position: absolute;
    top: 1325px;
    left: 70%;
    width: 20vw;
    height: auto;
    transform: rotate(25deg);
}

#angel3ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.angel4 {
    position: absolute;
    top: 800px;
    left: 10%;
    width: 20vw;
    height: auto;
    transform: rotate(-15deg) scaleX(-1);
}

#angel4ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.angel5 {
    position: absolute;
    top: 1050px;
    left: 20%;
    width: 20vw;
    height: auto;
    transform: rotate(-25deg) scaleX(-1);
}

#angel5ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}
.angel6 {
    position: absolute;
    top: 1325px;
    left: 10%;
    width: 20vw;
    height: auto;
    transform: rotate(-15deg) scaleX(-1);
}

#angel6ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.snake1 {
    position: absolute;
    top: 1800px;
    left: 20%;
    width: 20vw;
    height: auto;
}

#snake1ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.snake2 {
    position: absolute;
    top: 1800px;
    left: 60%;
    width: 20vw;
    height: auto;
    transform: scale(-1);
}

#snake2ID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:10px;
    fill:transparent;
    transition: fill 250ms;
}

.lastsupper {
    position: absolute;
    top: 2475px;
    left: 10%;
    width: 85vw;
    height: auto;
}

#lastsupperID {
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:5px;
    fill:transparent;
    transition: fill 250ms;
}

.applehalf {
    position: absolute;
    top: 3295px;
    left: 40%;
    width: 20vw;
    }

#applehalfID{
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:7px;
    fill:transparent;
    transition: fill 250ms;
}

.lipsright {
    position: absolute;
    top: 3250px;
    left: 70%;
    width: 20vw;
    }

#lipsrightID{
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:7px;
    fill:transparent;
    transition: fill 250ms;
}

.tree {
    position: absolute;
    top: 3100px;
    left: 5%;
    width: 35vw;
    }

#treeID{
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:7px;
    fill:transparent;
    transition: fill 250ms;
}

.devil {
    position: absolute;
    top: 4000px;
    left: 10%;
    width: 30vw;
    }

#devilID{
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.praying {
    position: absolute;
    top: 4500px;
    left: 65%;
    width: 27vw;
    }

#prayingID{
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.windowleft {
    position: absolute;
    top: 5300px;
    left: 5%;
    width: 30vw;
    transform: scaleX(-1);
    }

#windowleftID{
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.windowright {
    position: absolute;
    top: 5300px;
    left: 65%;
    width: 30vw;
    }

#windowrightID{
    fill:transparent;
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:6px;
}

.grapes{
    position: absolute;
    top: 12000px;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    }

#grapesID{
    stroke:#fff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:7px;
    fill:transparent;
    transition: fill 250ms;
}



    /* Audio */ 

a.trigger {
color: white;
text-decoration: none;
}

.trigger::before {
    content: '▶';
}

.playing .trigger::before {
content: 'II';
}

.paused .trigger::before {
content: '▶';
}

.player {
    position: fixed;
    top: 10px;
    left: 10px;   
    padding: 7px 15px;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline;
    display: inline-block;
}

.player:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


    /* Navigation */ 
.menue {
    position: absolute;
    top: 14920px;
    left: calc(50% + 20px);
}

a.navi {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: none;
}

a.navi:hover {
    font-style: italic;
    cursor: pointer;
}