.gradient {
    height: 1000px;
    background-color:darkslategrey;
    background-image: radial-gradient(circle closest-side, rgb(110, 104, 104), #000208);
    animation: pulse 5s infinite;
  }

  @keyframes pulse {
  }


  body {
    margin: 0px;
  }
