a {
    background-color: lime
    
}

body {
    background-color: seagreen;
    background-size: cover;
    height: 100px;
}
/* main robot style*/

.robot {

    border: 20px solid tomato;
    margin: 2rem;
    border-radius: 15px;
    padding: 2rem;
    width: 300px;
    box-sizing: border-box;
}

