/* VON CODEPEN SVG */
 @font-face {
    font-family: Walsheim Regular;
    src: url(/sira_trinkler/css/fonts/GT-Walsheim-Regular.woff);
}

@font-face {
    font-family: Walsheim Bold;
    src: url(/sira_trinkler/css/fonts/GT-Walsheim-Pro-Bold.woff);
}

@font-face {
    font-family: Walsheim Medium;
    src: url(/sira_trinkler/css/fonts/GT-Walsheim-Medium.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: Walsheim Regular;
}

body {
    background: black;
    min-height: 1500px;
    text-align: center;
}

.parallax {
  perspective: 1px;
  perspective-origin: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  height: 100vh;
}

.parallax .group {
  position: relative;
	height: 100vh;
  transform-style: preserve-3d;
}

.parallax .layer {
  position: absolute;
  overflow: hidden;
}

#texts {
  transform: translateZ(-4.9px) translateY(40vh) translateX(120px) scale(10);
  color: white;
  font-size: 100px;
}

#blume {
    transform: translateZ(-1px) translateY(200px) scale(2.3);
}

#rasen {
    transform: translateZ(-3px) translateY(2000px) scale(4.3);
}

#haus {
    transform: translateZ(-3px) translateY(920px) translateX(300px) scale(2.1);
}

#berg {
    transform: translateZ(-5px) translateY(110px) translateX(1000px) scale(5);
}

#himmel {
    transform: translateZ(-5.2px) scale(6.6);
    background-attachment: fixed;
}

h2 {
    text-align: center;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    position: relative;
    color: white;
    font-size: 150px;
    z-index: 1;
}

div p {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 3vw;
}