.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  font-size: 200%;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 100vh 0;
  bottom: 0;
}

.parallax__layer--2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--1 {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.title1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:#d59d8d; 
  letter-spacing: 10px;
}

.title2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:#ffffffb6; 
  letter-spacing: 10px;
}