@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

body { 
    background-color: #570b0b;
    font-family: 'Yusei Magic', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.p1 {
    color: rgba(0, 0, 0, 0.5);
    font-weight:600;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2000%;
}

.p2 {
    color: cornsilk;
    font-weight:300;
    font-size: 300%;
}

.p3 {
    color: #9b424277;
    font-weight:600;
    font-size: 900%;
}

.p4 {
    color: #ae476285;
    font-weight:600;
    text-transform: uppercase;
    font-size: 2000%;
}

a {
    color: cornsilk;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    font-style: italic;
    font-weight: 600;
}

br {
    line-height: 1000%;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

.parallax__layer {
    padding: 85vh 0;
  }

.parallax__layer--1 {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px) rotate(90deg);
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--4 {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px) rotate(-90deg);
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--2 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -2;
    max-width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--3 {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-2px) rotate(90deg);
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    right: -50%;
    bottom: 0;
}




