

@media only screen and (max-width: 800px) {
    body {
      background-color:#899c9e;
    }
  }

  @media screen and (max-width: 800px) {
    img {
    display: none;
    }
    }

.desktoptitle {
    color: white;
    background-color: rgba(216, 99, 216, 0.5);
    font-size: 50px;
    }

@media screen and (max-width: 800px) {
    .desktoptitle {
    display: none;
    }
    }

.mobiletitle {
    color: white;
    background-color: rgba(177, 175, 82, 0.5);
    font-size: 50px;
    }


@media screen and (min-width: 800px) {
    .mobiletitle {
    display: none;
    }
    }
p {
    font-size: 20px;
    color: white;
}

    @media print {
        .body {
        background-color: white;
        }
        .desktoptitle {
        display: none;
        }
        .mobiletitle {
        display: none;
        }
        nav {
        display: none;
        }
        img {
        width: 100px;
        height: auto;
        }
        p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 14px;
            }
        a {
        font-size: 14px;
        }
        }