@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
    background-color: #cdc7c4;
    font-family: 'Josefin Sans', sans-serif;
}  

h1 {
    color: #334662;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: #96616b;
    font-size: 49px;
}

h3 {
    color:#96616b; 
    font-size: 30px;
    letter-spacing: 10px;
}

.p1 {
    font-size: 20px;
    color: #96616b;
    text-align: left;
    text-transform: lowercase;
}

.refrain {
    font-weight: 700;
}

.p2 {
    font-size: 20px;
    color: #96616b;
    text-align: right;
    text-transform: lowercase;
}

/* NAV */

a {
    color:#d79e8e;
    text-decoration: none;
    font-size: 30px;
}

a:hover{
    color: #d79e8e;
    background: linear-gradient(104deg, rgba(196, 134, 76, 0) 0.9%, rgba(209, 180, 143, 0) 2.4%, rgba(226, 201, 133, 0.5) 5.8%, rgba(247, 216, 176, 0) 98%), linear-gradient(183deg, rgba(199, 149, 40, 0) 0%, rgba(255, 215, 130, 0.13) 7.9%, rgba(255, 215, 130, 0) 15%);
    text-decoration: none;
}

a.active {
    color: #d79e8e;
    background: linear-gradient(104deg, rgba(196, 134, 76, 0) 0.9%, rgba(209, 180, 143, 0) 2.4%, rgba(226, 201, 133, 0.5) 5.8%, rgba(247, 216, 176, 0) 98%), linear-gradient(183deg, rgba(199, 149, 40, 0) 0%, rgba(255, 215, 130, 0.13) 7.9%, rgba(255, 215, 130, 0) 15%);
    text-decoration: none;
}


/* INTERANCTIVITY */

mark {
  background-color: #d3bebf;
}

/* COLUMNS*/

.row{
    display: flex;
    flex-wrap: wrap;
}
.column1 {
    flex: 33%;
    display: flex;
    justify-content: space-between;
    display: block;
    justify-content: center;
}
.column2 {
    flex: 33%;
}

.column3 {
    flex: 33%;

}
/* AUDIO */

audio {
    margin-top: 15px;
    opacity: 0.5;
  }

/* HIGHLIGHTER */

span.highlight {
background: linear-gradient(104deg, rgba(255, 130, 224, 0) 0.9%, rgba(255, 130, 224, 0) 2.4%, rgba(255, 130, 224, 0.5) 5.8%, rgba(228, 130, 203, 0.24) 93%, rgba(212, 162, 169, 0.479) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(255, 130, 161, 0) 0%, rgba(255, 130, 228, 0.13) 7.9%, rgba(255, 130, 234, 0) 15%);
}