@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

/* General Formatting */

body {
    font-family: 'Amiko', sans-serif; 
    /* font-family: 'Yatra One', cursive; */
    background: rgb(219,200,243);
    padding: 0;
    margin: 0;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s ease;
}

  
  * {
    box-sizing: border-box;
  }

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}

a {
    text-decoration: none;
}


  
  a {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  a:hover {
    font-style: italic;
    font-weight: bold;
  }
  
  body.playing {
    background-color: #95606b;
  }
  
  body.paused {
    background-color: #334661;
  }
  
  .playing .trigger::before {
    content: 'DO NOT CALL ME BY YOUR NAME';
  }
   
  .paused .trigger::before {
    content: 'CALL ME BY YOUR NAME';
  }