@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;700&display=swap');


h1 {
    color: darkolivegreen;
    font-size: 50px;
}

p {
    font-size: 30px;
}

li { 
    color: white;
}
li:hover {
    font-weight: 800;
    font-style: italic;
}
li:visited {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover { 
    font-weight: 800;
    font-style: italic;
}


body {
    background-color: lightgrey;
    background-image: url(https://image.winudf.com/v2/image/Y29tLnBhc3RlbHdhbGxwYXBlci5oZC5wYXN0ZWxwaWN0dXJlcy5waG90b3MuYmFja2dyb3VuZC5jdXRlLmNvb2wuYXJ0LnBhc3RlbGltYWdlcy5oZC5mcmVlX3NjcmVlbl84XzE1MzM5NDQwOTlfMDEy/screen-8.jpg?fakeurl=1&type=.jpg);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
