body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 350px;
}

.attachment section {
    height: 100vh;
    border: 10px solid #333;
    box-shadow: inset 0 0 0 10px #eee, inset 0 0 20px rgba(0,0,0,.5) ;
    background-size: cover;
    /* background-attachment: fixed; */
}

.attachment section:first-child {
    background-image: url(../img/monkey.jpg);
}

.attachment section:nth-child(2) {
    background-image: url(../img/birds.jpg);
}

.attachment section:nth-child(3) {
    background-image: url(../img/blob-haikei.svg);
}

.pattern {
    background: url(../img/bunting-flag.png);
    /* background-size: 100px; */
}

.gradient section {
    height: 100vh;
    text-align: center;
    padding: 2rem;
}

.gradient, .nth {
    /* background-image: radial-gradient(circle at center, yellow, lime, green, darkgreen); */
    background-image: repeating-radial-gradient(circle at center, salmon, orange 10%);
    /* try with multiple, opacity */
    /* background-image: repeating-radial-gradient(circle at center, rgba(250, 128, 114, .5), rgba(255, 165, 0, .5) 10%),
    repeating-radial-gradient(circle at top left, rgba(250, 128, 114, .5), rgba(255, 165, 0, .5) 10%); */
}

.nth section {
    padding: 2rem;
    text-align: center;
}

.nth section img:nth-child(4n+1) {
    /* mix-blend-mode: color-burn; */
}