body{
    position: relative;
    background-color: black;
   
}

h1{
    color: white;
}

div{
    position: relative;
    border: white, solid;
    height: 1000px;
    
   

}
.boble1{
    position: absolute;
    top: 30px;
    left: 450px;
    width: 300px;
    height: 300px;
}
.boble2{
 
    position: absolute;
    top: 300px;
    left: 150px;
    width: 300px;
    height: 300px;
}
.boble3{
    position: absolute;
    width: 350px;
    height: 350px;
}


a{
    color: yellow;
}