body{
    position: relative;
    background-color: black;
   
}

/* .navigators{
    display:flex;
    justify-content: center;
} */


h1{
    font-family: 'Farro', sans-serif;
    color: white;
}

text{
    font-family: 'Farro', sans-serif;
}
div{
    position: relative;
    border: white, solid;
    height: 1000px;
    
   

}
.boble1{
    position: absolute;
    top: 30px;
    left: 450px;
    width: 350px;
    height: 350px;
}
.boble2{
 
    position: absolute;
    top: 300px;
    left: 150px;
    width: 300px;
    height: 300px;
}
.boble3{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 150px;
}

#text{
    color: yellow;
    background-color: yellow;
}

#MouseEvents { 
    width: 200px; 
    height: 200px;
    position: absolute;
    top: 350px;
    right: 380px;
    border: 1px solid #c2c2c2; 
    margin: 10px; 
    padding: 12px; 
    font-size: 0.8em; 
}

.lyric{
    
    font-size: 50px;
    
}
#lyric1, #lyric2, #lyric3, #lyric4, #lyric5, #lyric6, #lyric7, #lyric8{
    color: black;
}

#log { 
    position: absolute; 
    right: 0px; 
    top: 55px;
    bottom: 2px; 
    height: auto; 
    width: 1000px;
    height: 900px;
    border: 1px solid blue; 
    padding: 1px; 
    font-size: 0.9em; 
}

