
body {
    background-color: blueviolet;
}

.boble{
   width: 600px; 
}

div .boble{
display: block;
position: relative;
left: 550px;
}

h1 {
    color: #FF0066;
    font-size: 50px;
    position: sticky;
    top: 50px;
}

