
body {
    background-color: blueviolet;
}

.allbobles{
    margin-left: 500px;
    width: 500px;
 
}
/* g{
    display: flex;
    justify-content: center;
} */

.boble{

width: 100%;
height: 100%;
    position: -webkit-sticky;
    position: sticky;
 z-index: -1;
    top: 0;
}

text{
    z-index: 1;
}


h1 {
    color: #FF0066;
    font-size: 50px;
    position: sticky;
    top: 50px;
}

#Day1{
color: black;
}
*a{
    position: relative;
    z-index: 4;
}