

/* All */
* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* attribute */



main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

    main article {
        min-height: 700px;
    }

.control {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

    .control div {
        height: 30px;
        width: 100%;
    }

    .control button {
        height: 30px;
        width: 100%;
        border-color: none;
        border: none;
        background-color: transparent;
        font: inherit;
    }

        .control button:hover {
            border-bottom: 2px grey solid;
            /*background-color: lightgray;*/
        }

    .control p {
        margin-top: 0.5rem;
    }

#inhalt-org {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2s;
}

.clone {
    height: 30px;
    width: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(107, 176, 38);
    visibility: visible;
    opacity: 0.5;
    transition: opacity 1s;
}

    .clone:hover {
        opacity: 1;
    }