body {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
}

.box {
    border: 1px solid red;
    background-color: rgba(182, 159, 224, 0.5);
}

.box div {
    width: 500px;
    height: 500px;
    background-color: rgba(109, 201, 230, 0.5);
    border: 1px solid black;
    font-size: 64px;
}

.box:first-of-type div {
    transform: translate(100px, 100px);   
}

.box:first-of-type div {
    
}