
p{
    color: green;
}
    p.site-slogan {
        color: blue;
    }

article h2 {
    color: red;
}

#inhaltsbereich p {
    color: grey;
}

body p:first-of-type {
    color: red;
}

#inhaltsbereich p:first-of-type {
    color: red;
}

/* ALTERNATIV, weil #inhaltsbereich ist stärker als nur p */
/* mit !important kann es nicht mehr überschrieben werden */
p:first-of-type {
    color: red !important;
}