body{
    background-color: red;
}
.robo-box{
    width: 40vw;
    height: 40vh;
    color: white;
    background-color: brown;
    background: url(../process/day14/img/robot-svgrepo-com-2.svg) no-repeat top left;
    background-size: contain;
}