@font-face { font-family: 'brand';
    src: url('../fonts/Brand.ttf') format('truetype'),
         url('../fonts/Brand.woff') format('woff');
}

button, label{
    font-family: 'brand', Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    font-family: 'brand' ,Arial, Helvetica, sans-serif;
    background-color:#191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 1s ease-out;
}




nav{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height: 10vh;
    background-color:#191919;

}

nav ul{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    padding-inline-start: 0;
    width: 50%;
    margin-right: 30px;
}

nav ul li{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;

   
    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}

nav ul li:hover{
    box-shadow: 
    -4px -4px 6px 0 #070707 ,
    2px 2px 3px 0 rgba(209, 250, 253, 0.3);
}

nav ul li a{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    color: white;
    text-decoration: none;
}
.robot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh; 
}

#section_1{
    background-color:#191919;
    height: 90vh;
    padding: 2%;

}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vh;
    height: 100vw;
}
#section_1 .foot{
    height: 90vh;
}

#section_1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#section_1 .sub_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

#section_1 .sub_nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
    padding-inline-start: 0;
    
}    

#section_1 .sub_nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}
#section_1 .sub_nav ul li:hover{
    box-shadow: 
    -4px -4px 6px 0 #070707 ,
    2px 2px 3px 0 rgba(209, 250, 253, 0.3);
}

#section_1 .sub_nav ul li a {
    color: white;
    text-decoration: none;
}

#section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #191919;
}
#section_2 .foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 40px;
    height: 80%;
}
#section_2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: inline-block;
    width: 40%;
    
}
#section_2 .text-box{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    display: inline-block;
    padding-left: 2vw;
}
#section_2 h2{
    
}
#section_2 p{
    font-family: Arial, Helvetica, sans-serif;
    
}

#section_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #191919;
    height: 100vh;
}

@keyframes member_1 {
    0%      {transform: rotate(0deg);}
    25%     {transform: rotate(15deg);}
    50%     {transform: rotate(-30deg);}
    75%     {transform: rotate(5deg);}
    100%    {transform: rotate(0deg);}
}


@keyframes member_2{
    0%      {transform: translateY(0%);}
    25%     {transform: translateY(-30%);}
    50%     {transform: translateY(-0%);}
    75%     {transform: translateY(-60%);}
    100%    {transform: translateY(0%);}
}

@keyframes member_3{
    0%      {transform: rotateY(0deg);}
    25%     {transform: rotateY(30deg);}
    50%     {transform: rotateY(-30deg);}
    75%     {transform: rotateY(15deg);}
    100%    {transform: rotateY(0deg);}
}


#section_3 .band-members{

    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
}

#section_3 .band-members .band-member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 25%;

  animation-name: example;
  animation-duration: 8s;
}
#section_3 .band-members .band-member:nth-child(1){animation-iteration-count: infinite; animation-delay: 0s; animation-name: member_1;}
#section_3 .band-members .band-member:nth-child(2){animation-iteration-count: infinite; animation-delay: 6s; animation-name: member_2;}
#section_3 .band-members .band-member:nth-child(3){animation-iteration-count: infinite; animation-delay: 9s; animation-name: member_3;}
#section_3 .band-members .band-member:nth-child(4){animation-iteration-count: infinite; animation-delay: 3s; animation-name: member_1;}

#section_3 .band-members .band-member img{
    width: 100%
}

.bandmember-textbox-hide{
    display: none;
    
}

#section_3 #section_3_overlay{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 15;
    width: 80%;
    height: 80vh;
    background: rgba(66, 66, 66, 0.8);
}

#section_3 #section_3_overlay h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}

#section_3 #section_3_overlay h4{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#section_3 #section_3_overlay p{
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 60%;
}

#section_3 #section_3_overlay img{
    display: flex;
    
    width: 20%;
}



/* 
#section_3 .band-members #band-member_1:hover .bandmember-textbox-hide, #section_3 .band-members #band-member_2:hover .bandmember-textbox-hide, #section_3 .band-members #band-member_3:hover .bandmember-textbox-hide, #section_3 .band-members #band-member_4:hover .bandmember-textbox-hide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #191919 ;
    padding: 10px;
    color: white;

    width: 50%;
    padding: 3%;

    border-radius: 40px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
} */


.bandmember-textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #191919 ;
    padding: 10px;
    color: white;

    width: 50%;
    padding: 3%;

    border-radius: 40px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}







#section_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #191919;
    height: 70vh;
}

.nose{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.nose form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nose form label{
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 2rem;
    width: 100%;
}
.nose form input{
    font-family: 'brand', Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    width: 80%;
    height: 50px;
    margin: 20px;
    background: #191919;
    /* border: solid white 2px; */
    border-radius: 35px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}
.nose form .button_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

.nose form .button_section button{
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    width: 40%;
    height: 50px;
    margin: 20px;
    background: transparent;
    border-radius: 35px;

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);

}




.mouth{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
#section_5{
    background-color:#191919;
    flex-direction: row;
    justify-content: space-around;
}
#section_5 .scoreboard{
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    margin: 20px;
    background: #191919;
    border-radius: 35px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50vh;
}

#section_5 .interaction_section{
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 20px;
    background: #191919;
    border-radius: 35px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
    
    
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: 50vh;
}

#section_5 .songtext_section{
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    margin: 20px;
    background: #191919;
    border-radius: 35px;
    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);   
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;   
}

#section_5 .songtext_section p{
    width: 90%;
}

#section_5 #game_section{
    width: 80%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
#section_5 #game_section div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#section_5 .songwriter_songgame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    width: 45%;

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}
#section_5 #game_start_screen{
    width: 80%;
    display: flex;
}
#section_5 .start_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    width: 100%;

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}

#section_5 .tipp_songgame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    width: 100%;

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);
}

/* #section_5 #richtig{
    display: none;
}
#section_5 #falsch{
    display: none;
}
#section_6{
    background-color: teal;
}

.testobjekt-1{
    background-color: red;
    width: 20%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* Navigation Home */
.nav_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    background-color: tomato;
    border: black solid 1px;
    width: 20%;
    height: 100vh;

    transition-property: width, background-color;
    transition-duration: 3s;
    transition-timing-function: ease;
}


.nav_element:hover{
    background-color: teal;
    width: 50%;

}
.nav_element:hover a{
    transform: rotate(0deg)
}



.nav_element a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    transform: rotate(90deg);

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;

    text-align: center;
}

/*Process Site*/

.process_button{
    width: 60%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.process_button ul{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    padding-inline-start: 0;
    width: 100%;
    margin-top: 30px;

}

.process_button ul li{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    margin-top: 10px;
    width: 40%;
    color: white;
    border: none;
    background-color: #191919;
    border-radius: 3vh;
    padding: 5px 10px ;
    

    box-shadow: 
    4px 4px 6px 0 #070707 ,
    -2px -2px 3px 0 rgba(209, 250, 253, 0.3);

}

.process_button ul li:hover{
    background-color:  #353434 ;
    box-shadow: 
    -4px -4px 6px 0 #070707 ,
    2px 2px 3px 0 rgba(209, 250, 253, 0.3);
}

.process_button ul li a{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    color: white;
    text-decoration: none;

}


/*Songpage*/
#section_1_song{
    display: flex;
    align-items:center;
    justify-content:center;

    flex-direction:column;
    height: 100vh;
    width: 100%;

    background-image: url("../img/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#section_1_song nav{
    position: absolute;
    top: 0;
    background-color: transparent;
}

#section_1_song h2{
    color: white;
    font-size: 3rem;
}

#section_1_song button{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 40%;
    padding: 30px;
}

#section_1_song img{
    width: 10%;
    
}

#section_2_song{
    display: flex;
    align-items:center;
    justify-content:center;

    flex-direction:column;
    height: 100vh;
    width: 100%;

    background-image: url("../img/aperture-vintage-Z6EpCdMcoUU-unsplash_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}